---
const links = [
  {
    href: "/",
    text: "List",
  },
  {
    href: "/pokemons/1",
    text: "Pagination",
  },
  { href: "/favorites", text: "Favorites" },
];

const { pathname } = Astro.url;
---

<!-- component -->
<nav class="bg-white shadow dark:bg-slate-800">
  <div
    class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300"
  >
    {
      links.map(({ href, text }) => (
        <div>
          <a
            href={href}
            class={`text-gray-800 dark:text-gray-200  mx-1.5 sm:mx-6 `}
          >
            {text}
          </a>
          {pathname === href ? (
            <div
              transition:name="menu-line"
              class="border-b-2 border-blue-600 mx-4"
            />
          ) : (
            <div class="border-2 border-transparent mx-4" />
          )}
        </div>
      ))
    }
  </div>
</nav>

<style>
  nav {
    width: 100vw;
  }
</style>
