---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list-response";

export const getStaticPaths = (async () => {
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await resp.json()) as PokemonListResponse;

  return results.map(({ name, url }) => {
    return { params: { name }, props: { url } };
  });

  // [
  //   {
  //     params: { name: "bulbasaur" },
  //     props: { url: "https://pokeapi.co/api/v2/pokemon/1" },
  //   },
  //   {
  //     params: { name: "charmander" },
  //     props: { url: "https://pokeapi.co/api/v2/pokemon/4" },
  //   },
  // ];
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;
---

<Layout title={name}>
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <a href="/" class="hover:underline text-blue-500 mb-20">Go back</a>
    <PokemonCard name={name} , url={url} , withAudio />
  </section></Layout
>
