---
import PokemonCard from "../components/pokemons/PokemonCard.astro";
import type {
  PokemonListResponse,
  Result,
} from "../interfaces/pokemon-list-response";
import Layout from "../layouts/Layout.astro";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = (await resp.json()) as PokemonListResponse;

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Pokemon Static | Home">
  <h1 class="text-3xl">Pokemon list</h1>
  <hr />

  <section
    aria-label="Pokemon List"
    class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 gap-4 mt-4"
  >
    {data.results.map(({name,url}: Result) => <PokemonCard name={name}, url={url}, withAudio={false}/>)}
  </section>
</Layout>
